body{
display: grid;
grid-template-rows: 25% 50% 25%;
grid-template-columns: 10% 80% 10%;
}

header{
text-align: center;
grid-row:1/-1;
grid-column: 2/3;
background-color: #fa434d;
color: white;
margin-left: 15%;
margin-right:15%;
border: 1px solid black;
}
